body {
    background-image: url(/images/cork-wallet.png); 
}

nav h1{
    background-color: #4aaaa5;
    color: white;
    padding: 15px 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid #CCC;
}

#about {
    background-color: white;
    margin-bottom: 20px;
}

#about hr {
    border-width: 2px;
    border-color: #CCC;
}

#connect {
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#connect hr {
    border-width: 2px;
    border-color: #CCC;
}

#container {
    width: 70%;
    margin: auto;
}

#connect h1 {
    text-align: center;
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

footer {
    text-align: center;
    color: #CCC;
    background-color: #777;
    border-top: 4px solid #4aaaa5;
    height: 70px;
    padding-top: 20px;
}

/* For large screens*/
@media screen and (min-width:980px)
{
    nav {
        height: 60px;
    }
    nav h1{
        position: relative;
        left: 110px;
        top: -20px;
        padding: 15px;
    }

    .navbar-right {
        position: relative;
        right: 240px;
    }

    #container {
        margin-top: 30px;
        height: 100%;

    }

    #about {
        background-color: white;
        height: 100%;;
        border: 2px solid #CCC;
        float: left;
        
    }

    #about h1 {
        color: #4aaaa5;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-weight: bold;
    }

    #about img {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #about p {
        line-height: 2.2;
    }

    #icons {
        width: 190px;
        margin: auto;
    }

    #connect {
        border: 2px solid #CCC;
        padding-bottom: 20px;
        background-color: white;
        float: left;
    }

    footer {
        height: 100px;
        padding-top: 35px;
    }
}
/* END large screens */




@media screen and (max-width: 767px){
    
    nav {
        height: 120px;
    }
    
    .navbar-header {
        width: 110%;
        position: relative;
        top: -20px;
        float: none;
    }
    
    
    .navbar-header h1 {
        width: 100%;
        padding: 20px;
        
        text-align: center;
    }
    
    #links {
        width: 100%;
        margin: auto;
        position: relative;
        top: -33px;
        
    }
    
    #links {
       
        width: 100%;
    }
    
    #links li{
        float: left;
        margin-left:  11%;
        margin-right: 11%;
    }
    
    #about h1 {
        color: #4aaaa5;
    }
    
    #about img {
        width: 100%;
        margin-bottom: 20px;
    }
    
    #about p {
        line-height: 2;
    }
    
    #connect #icons {
        width: 190px;
        margin: auto;
    }
    
}

@media screen and (max-width: 639px){
    
    #links li{
        margin: 0;
        margin-left: 8%;
        margin-right: 7%;
    }
    
}