.container {
    background-color: azure;
}
nav {
    height: 65px;
}
nav h1 {
    padding: 15px 10px;
    position: relative;
    top: -20px;
    left: 100%;
    font-size: 30px;
    color: white;
    background-color: #4aaaa5;
}

#connect {
    border: 2px solid #CCC;
    padding-bottom: 20px;
}

p {
    line-height: 2;
}


/* INDEX.HTML */


#index #about h1, #index #connect h1 {
    color: #4aaaa5;
    font-size: 30px;
}

#index #links {
    width: 235px;
    float: right;
    position: relative;
    right: 19%;
}

#index #links ul {
    margin: auto;
}

#index #about {
    background-color: white;
    height: 100%;
}

#index #about img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#connect h1 {
    text-align: center;
}

#icons {
    width: 190px;
    margin: auto;
}

/* END INDEX.HTML */



/*CONTACT.HTML*/

#contact #form h1, #connect h1 {
    color: #4aaaa5;
    font-size: 30px;
}

#form {
    background-color: white;
    height: 100%;
    padding: 0 40px 40px 40px;
    margin-bottom: 40px;
    border: 2px solid #CCC;
}

#contact #links {
    width: 235px;
    float: right;
    position: relative;
    right: 16%;
}

#contact #links ul {
    margin: auto;
}



/* END CONTACT.HTML*/