body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777;
    background-image: url(../images/cork-wallet.png);
    margin: auto;
    overflow-x: hidden;
}

nav h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    padding: 15px 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid #CCC;
}

nav ul {
    font-size: 20px;
}

#about {
    background-color: white;
    margin-bottom: 20px;
}

#about #text {
    line-height: 2;
    font-size: 15px;
}

#about h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bolder;
}

#about hr {
    border-width: 2px;
    border-color: #CCC;
}
#about img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#connect {
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#connect hr {
    border-width: 2px;
    border-color: #CCC;
}

#container {
    width: 70%;
    margin: auto;
}

#icons {
    width: 190px;
    margin: auto;
}

#connect h1 {
    text-align: center;
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

footer {
    text-align: center;
    color: #CCC;
    background-color: #777;
    border-top: 4px solid #4aaaa5;
    height: 70px;
    padding-top: 20px;
}

/* contact.html*/
.contact  #contact {
    background-color: white;
    border: solid 1px #CCC;
    
    }


.contact section hr {
    width: 95%;
    height: 2px;
    margin-bottom: 20px;
    
}

.contact section h1 {
    font-size: 30px;
    color: #4aaaa5;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

.contact form {
    float: left;
    
}

.contact input[type=text], input[type=email], textarea {
    border: 1px solid #CCC;
    box-sizing: border-box;
    resize: vertical;
}

#contact input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

#contact input[type=submit]:hover{
    background-color: #777;
    
}

#contact input[type=submit]:active {
    transform: translateY(4px);
}

/* END contact.html */ 

@media only screen and (min-width:981px) {
    
    nav {
        height: 80px;
    }
    nav h1 {
        width: 230px;
        height: 80px;
        position: relative;
        top: -20px;
        text-align: center;
        padding-top: 25px;
        left: 45px;

    }
    
    nav #links {
        padding-top: 10px;
    }
    
    nav #links ul {
        position: relative;
        right: 90px;
    }
    
    #container {
        width: 90%;
        height: 750px;
        margin: auto;
    }
    
    #about {
        width: 60%;
        float: left;
        position: absolute;
        margin-right: 20px;
    }
    #about img {
        width: 65%;
    }
    
    
    #connect {
        float: right;
        width: 30%;
    }
}

@media only screen and (max-width: 980px) and (min-width: 769px) {
    nav {
        height: 80px;
    }
    nav h1 {
        width: 230px;
        height: 80px;
        position: relative;
        top: -20px;
        text-align: center;
        padding-top: 25px;
        left: 20px;

    }
    
    nav #links {
        padding-top: 10px;
    }
    
    #container {
        width: 90%;
        height: 650px;
        margin: auto;
    }
    
    #about {
        width: 60%;
        float: left;
        position: absolute;
        margin-right: 20px;
    }
    
    #about img {
        width: 65%;
    }
    
    #connect {
        float: right;
        width: 30%;
    }
}

@media only screen and (max-width: 780px) and (min-width: 640px) {
    
    nav {
        height: 130px;
    }
    
    nav h1 {
        width: 100%;
        text-align: center;
        position: relative;
        top: -20px;
    }
    
    #links {
        width: 100%;
        position: relative;
        top: -20px;
    }
    
    #links ul {
        width: 100%;
        margin-left: 24px;
        margin-right: 24px;
        
    }
    
    #links ul li{
        float: left;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    
    #container {
        height: 1190px;
    }
    
    #about {
        width: 100%;
        float: none;
        position: relative;
        margin-bottom: 25px;
    }
    #about img {
        width: 100%;
    }
    
    #connect {
        float: none;
        width: 100%;
        position: relative;
    }
}

@media only screen and (max-width: 640px) {
    nav h1 {
        width: 100%;
        text-align: center;
    }
    #links {
        width: 100%;
    }
    
    #links ul {
        margin: auto;
        margin-left: 24%;
        margin-right: 24%;
    }
    
    nav ul li{
        float: left;
    }
    
    #about img {
        width: 100%;
    }
}