body {
    background-image: url(../images/cork-wallet.png); 
}

nav h1{
    background-color: #4aaaa5;
    color: white;
    padding: 15px 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid #CCC;
}

#about {
    background-color: white;
    margin-bottom: 20px;
}

#about h1 {
    color: #4aaaa5;
}

#about hr {
    border-width: 2px;
    border-color: #CCC;
}
#about img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#connect {
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#connect hr {
    border-width: 2px;
    border-color: #CCC;
}

#container {
    width: 70%;
    margin: auto;
}

#connect h1 {
    text-align: center;
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

footer {
    text-align: center;
    color: #CCC;
    background-color: #777;
    border-top: 4px solid #4aaaa5;
    height: 70px;
    padding-top: 20px;
}

@media only screen and (min-width:981px) {
        #about img {
        width: 65%;
    }
}

@media only screen and (max-width: 980px) and (min-width: 769px) {
    #about img {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) and (min-width: 640px) {
    #about img {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    #about img {
        width: 100%;
    }
}